<%= simple_form_for (@seller) do |f| %>
        <div class="form-inputs">
          <%= f.input :company_logo %>
          <%= f.input :company_logo_cache, as: :hidden %>
          <% if !current_page?(new_seller_path) %>
            <% if !@seller.company_logo.nil?%>
              <%= cl_image_tag @seller.company_logo.url(:thumbnail) %>
            <% end %>
          <% end %>
        </div>
        <%= f.input :company_name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.input :delivery_time %>
        <%= f.input :website  %>
        <%= f.input :last_name %>
        <%= f.input :first_name %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.input :delivery_fee %>
        <%= f.input :delivery_free_from %>



        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
