<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#orders">Orders</a></li>
  <li><a data-toggle="tab" href="#products">Products</a></li>
  <li><a data-toggle="tab" href="#info">Info</a></li>
</ul>

<div class="tab-content">
  <!-- CONTENT ORDER TAB, repris & adapté du BUYER SHOW pour ORDER -->
  <div id="orders" class="tab-pane fade in active">
    <h3>Orders</h3>
    <%= link_to "Update Selected", "#" , class:"btn btn-primary" %>
    <% if @seller.orders.count == 0 %>
      <h2>Vous n'avez pas encore de commande :-( </h2>
      <div> <%= image_tag("sad_kitten.jpg") %>
      </div>
      <div>
        <%= link_to "Découvrez nos meilleurs produits", root_path %>
      </div>
    <% else %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Select All <input type="checkbox" name="CheckAll" id="CheckAll"/></th>
            <th>#-Ref</th>
            <th>Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Delivery Address</th>
            <th>Price</th>
            <th>Status</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
        <% @seller.orders.order("created_at DESC").each do |order| %>
          <%= simple_form_for(order) do |f| %>
          <%= f.error_notification %>
          <tr>
            <td><input type="checkbox" id="Child"></td>
            <td><%= order.id %></td>
            <td><%= order.order_date %></td>
            <td><%= order.buyer.first_name %></td>
            <td><%= order.buyer.last_name %></td>
            <td><%= order.buyer.address %></td>
            <td><%= order.sum %></td>
            <td><%= f.select :status, options_for_select(["En attente de validation", "Validé", "Livraison en cours", "Livré", "Annulé"]) %>
            <%= f.button :submit %>
            </td>
            <td><%= link_to "Détails", order_path(order), class:"btn btn-primary" %></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div id="products" class="tab-pane fade">
    <h3>Products</h3>
    <%= link_to "Add Product", new_seller_product_path(@seller), class:"btn btn-primary" %>
    <% if @seller.products.count == 0 %>
      <h2>Vous n'avez pas encore de commande :-( </h2>
      <div> <%= image_tag("sad_kitten.jpg") %>
      </div>
      <div>
        <%= link_to "Découvrez nos meilleurs produits", root_path %>
      </div>
    <% else %>
       <table class="table table-sm">
        <thead>
          <tr>
            <th>Select All <input type="checkbox" name="CheckAll" id="CheckAll"/></th>
            <th>#-Ref</th>
            <th>Name</th>
            <th>RRP</th>
            <th>Selling Price</th>
            <th>Stock Qty</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
        <% @seller.products.order(:id).each do |product| %>
          <%= simple_form_for(product) do |f| %>
          <%= f.error_notification %>
          <tr>
            <td><input type="checkbox" id="Child"></td>
            <td><%= product.id %></td>
            <td><%= f.input :name, label: false %></td>
            <td><%= f.input :retail_price, label: false %></td>
            <td><%= f.input :selling_price, label: false %></td>
            <td><%= f.input :stock, label: false %></td>
            <td>
              <%= link_to "Details", product_path(product), class:"btn btn-primary" %>
              <%= f.button :submit %>
            </td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div id="info" class="tab-pane fade">
    <h3>Info</h3>
    <%= render "form" %>
  </div>
</div>
