

<!-- For seller to have personal page to update profile etc... -->
<% if @seller == current_seller %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#orders">Orders</a></li>
  <li><a data-toggle="tab" href="#products">Products</a></li>
  <li><a data-toggle="tab" href="#info">Info</a></li>
</ul>

<div class="tab-content">
  <!-- CONTENT ORDER TAB, repris & adapté du BUYER SHOW pour ORDER -->
  <div id="orders" class="tab-pane fade in active">
    <h3>Orders</h3>
    <% if @seller.orders.count == 0 %>
    <h2>Vous n'avez pas encore de commande :-( </h2>
    <div> <%= image_tag("/assets/sad_kitten.jpg") %>
    </div>
    <div>
      <%= link_to "Découvrez nos meilleurs produits", root_path %>
    </div>
  <% else %>
    <% @seller.orders.each do |order| %>
      <div>
        <div> <%= order.order_date %> </div>
        <div> Commande N°<%= order.id %> </div>
        <div> <%= order.sum %>€ </div>
        <!-- Mettre une mise en forme pour le statut (ou des pictos) ? ex : vert, rouge, gris -->
        <div> <%= order.status %> </div>
        <div> <%= link_to "Détails", order_path(order), class:"btn btn-primary" %> </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <div id="products" class="tab-pane fade">
    <h3>Products</h3>
    <% if @seller.products.count == 0 %>
      <h2>Vous n'avez pas encore de commande :-( </h2>
      <div> <%= image_tag("/assets/sad_kitten.jpg") %>
      </div>
      <div>
        <%= link_to "Découvrez nos meilleurs produits", root_path %>
      </div>
    <% else %>
      <ul>
      <% @seller.products.each do |order| %>
        <li> <%= product.name %> </li>
      <% end %>
     </ul>
    <% end %>
  </div>


  <div id="info" class="tab-pane fade">
    <h3>Info</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

<!-- for PUBLIC seller profile -->
<% else  %>



<% end  %>
