<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links when logged in -->

    <!-- Personnalisation selon la connexion
    If I am a buyer -->
    <% if buyer_signed_in? %>

      <!-- Dropdown category -->
      <div class="dropdown">
        <button class="navbar-wagon-item navbar-wagon-link" data-toggle="dropdown"> Categories <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% Category.all.each do |category|%>
            <li>
              <%= link_to category.name, category_path(category) %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- Fin du Dropdown -->

      <%= link_to "Mon compte", buyer_path(current_buyer), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mes commandes", buyer_path(current_buyer), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mon panier", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item navbar-wagon-link">Bonjour <%= current_buyer.first_name %> ! <br>
        <%= link_to destroy_buyer_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Deconnexion") %>
        <% end %>
      </div>

      <!-- If I am a seller -->
    <% elsif seller_signed_in? %>
      <%= link_to "Mon compte", seller_path(current_seller), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mes commandes", seller_path(current_seller), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mes produits", seller_path(current_seller), class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item navbar-wagon-link"><%= current_buyer.company_name %> <br>
        <%= link_to destroy_buyer_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Deconnexion") %>
        <% end %>
      </div>

      <!-- Non loggé -->
    <% else %>
      <!-- Dropdown category -->
      <div class="dropdown">
        <button class="navbar-wagon-item navbar-wagon-link" data-toggle="dropdown"> Categories <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% Category.all.each do |category|%>
            <li>
              <%= link_to category.name, category_path(category) %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- Fin du Dropdown -->

      <%= link_to "S'inscrire", new_buyer_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Se connecter", new_buyer_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Panier", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      </div>
    <% end %>
  </div>
</div>

