<!-- if logged in buyer, can only access his own profile -->
<% if @buyer == current_buyer %>

<h1>Buyers#show</h1>
<p>Find me in app/views/buyers/show.html.erb</p>
<div>
  <%= render 'shared/form_buyer' %>
</div>
<div style="display: inline">
  <% if @buyer.orders.nil? %>
    <h2>Vous n'avez pas encore de commande :-( </h2>
    <div>[Image à ajouter]</div>
    <div>
      <%= link_to "Découvrez nos meilleurs produits", root_path %>
    </div>
  <% else %>
    <% @buyer.orders.each do |order| %>
      <div>
        <div> <%= order.order_date %> </div>
        <div> Commande N°<%= order.id %></div>
        <div> <%= order.sum %>€ </div>
        <div> <%= link_to "Détails", order_path(order) %> </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- else has ACCESS DENIED -->
<% else %>

ACCESS DENIED ||
<%= link_to "Go to Homepage", root_path %>
<% end %>
