<%= simple_form_for [@seller, @product] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Titre"  %>
  </div>

    <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-inputs">
    <%= f.input :category_id, label: "Catégorie", collection: Category.all %>
  </div>

  <div class="form-inputs">
    <%= f.input :selling_price, label: "Prix de vente TTC" %>
  </div>

  <div class="form-inputs">
    <%= f.input :retail_price, label: "Prix barré" %>
  </div>

  <div class="form-inputs">
    <%= f.input :vat, label: "TVA %" %>
  </div>

  <div class="form-inputs">
    <%= f.input :stock, label: "Quantité" %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo_1 %>
    <%= f.input :photo_1_cache, as: :hidden %>

    <% if !current_page?(new_seller_product_path) %>
      <% if !product.photo_1.nil?%>
      <%= cl_image_tag @product.photo_1.url(:thumbnail) %>
      <% end %>
    <% end %>
  </div>
  <div class="form-inputs">
    <%= f.input :photo_2 %>
    <%= f.input :photo_2_cache, as: :hidden %>
    <% if !current_page?(new_seller_product_path) %>
      <% if !product.photo_2.nil?%>
        <%= cl_image_tag @product.photo_2.url(:thumbnail) %>
      <% end %>
    <% end %>
  </div>
  <div class="form-inputs">
    <%= f.input :photo_3 %>
    <%= f.input :photo_3_cache, as: :hidden %>
    <% if !current_page?(new_seller_product_path) %>
      <% if !product.photo_3.nil?%>
        <%= cl_image_tag @product.photo_3.url(:thumbnail) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Ajouter Produit" %>
  </div>

<% end %>
