 <h3>Mes Produits</h3>
    <%= link_to "Ajouter un Produit", new_seller_product_path(current_seller), class:"btn btn-primary" %>
    <% if current_seller.products.count == 0 %>
      <h2>Vous n'avez pas encore de commande :-( </h2>
      <div> <%= image_tag("sad_kitten.jpg") %>
      </div>
      <div>
        <%= link_to "Découvrez nos meilleurs produits", root_path %>
      </div>
    <% else %>
       <table>
        <thead>
          <tr>
            <th class="th-header" ># Réf</th>
            <th class="th-header" >Titre</th>
            <th class="th-header" >Prix barré</th>
            <th class="th-header" >Prix de vente</th>
            <th class="th-header" >Quantité</th>
            <th class="th-header" >Détails</th>
          </tr>
        </thead>
        <tbody>
        <% current_seller.products.order(:id).each do |product| %>
          <%= simple_form_for(product) do |f| %>
          <%= f.error_notification %>
          <tr>

            <td><%= product.id %></td>
            <td><%= f.input :name, label: false %></td>
            <td><%= f.input :retail_price, label: false %></td>
            <td><%= f.input :selling_price, label: false %></td>
            <td><%= f.input :stock, label: false %></td>
            <td>
              <%= link_to "Détails", product_path(product), class:"btn btn-primary" %>
              <%= f.button :submit, "Mettre à jour" %>
            </td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
