
        <div class="row">
      <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
          <div class="card-product-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= asset_path("product/#{[product.id % 10, 1].max}.jpg") %>'); ">
            <span class="card-product-category"><%= product.name %></span>
            <div class="card-product-description">
              <h2><%= product.description %></h2>
            </div>
            <img class="card-product-user avatar" src="images/jad.png">
            <a class="card-product-link" href="<%= product_path(product) %>"></a>
          </div>
          <div class="card-product-footer">
           <!--  <p><strong>Category: </strong><%= product.category.name %></p> -->
           <p><strong>Prix: </strong><%= product.selling_price %> euros</p>
            <div class="controls">
                <i id="<%= product.id %>" class="fa fa-cart-plus" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </div>
        <% end %>
        </div>
