  <% if !current_page?(products_path) %>
    <%= render "seller_products_index" %>
  <% else %>

   <div class="container-fluid">
    <div class="separator">
    <h2>Tous nos produits</h2>
    </div>
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
          <div class="card-product-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= asset_path("product/#{[product.id % 10, 1].max}.jpg") %>'); ">
            <span class="card-product-category"><%= product.name.first(30) %>...</span>
            <div class="card-product-description">
              <h2><%= product.category.name %></h2>
            </div>
            <img class="card-product-user avatar" src="images/jad.png">
            <a class="card-product-link" href="<%= product_path(product) %>"></a>
          </div>
          <div class="card-product-footer">
           <p><i class="fa fa-tags" aria-hidden="true"></i> <strong><%= product.selling_price %> euros</strong></p>
            <div class="controls">
                <i id="<%= product.id %>" class="fa fa-cart-plus" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>

<% end %>
