<div class="container">
  <div class="row" id="row-show-product">
    <div class="col-md-6 col-md-offset-3" >
      <div id="titre" style="border-bottom: 3px solid lightgrey "><h1><%=  @product.name %></h1></div>
    </div>

    <div class="col-md-6" >
  <!-- image du produit vers la gauche (choisi une image par defaut pour tout les produits-->
    <!-- La category sous l'image -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" id="images" role="listbox">
          <div class="item active">
            <%= image_tag  "beton_chanvre.jpg"%>
          </div>
          <div class="item">
            <%= image_tag"lumière.jpg" %>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <ul id="category">
        <li><h5>Category:</h5> <%= @product.category[:name] %></li>
        <li><h5>Seller:</h5> <%= @product.seller[:first_name] %> <%= @product.seller[:last_name] %></li>

      </ul>
    </div>
  <!-- price vers la droite -->
    <div class="col-md-6">

      <div id="price">
        <ul>
          <li><h4>Retail price:</h4> <%= @product.retail_price %> euros</li>
          <li><h5>Selling price:</h5> <%= @product.selling_price %> euros</li>
            <div id="description">
              <li>Description: <%= @product.description %></li>
            </div>
            <div class="form-group">
              <label for="sel1">Select quantity:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
           </ul>
           <div class="row">
        <div class="col-md-6 col-md-offset-5" >
          <%= link_to 'Add to cart', product_path(@product), class: "btn btn-primary" %>
        </div>
      </div>
      </div>

    </div>

  </div>


  <div id="description">
    <ul>
        <li><h4>Description:</h4> <%= @product.description %></li>
    </ul>
  </div>

  <div>
    <%= link_to 'Edit Product', edit_seller_product_path(@seller), class: "btn btn-warning" %>
  </div>

  <!--   <div>
      <%= link_to 'Edit Product', edit_product_path(@product), class: "btn btn-warning" %>
    </div> -->
</div>

